@font-face {
    font-family: "abel";
    src: url("fonts/Abel.ttf");
    font-display: swap;
}

:root {
    --oranage: #f66902ff;
    --blue: #0061ceff;
    --border: #000000;
    --mainbackground: #d2daff;
    --buttonbackground:#f0f0f0;
    --gradientbluedark:#f82b2b;
    --gradientbluelight:#ff8b8b;
    --gradientreddark:#3358ff;
    --gradientredlight:#93a7ff;
    --textcolor: #000000;
    --hoverbackground: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    font-family: abel;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    color: var(--textcolor);
}

header {
    position: fixed;
    width: 100%;
    text-align: left;
    height: 5vw;
    background-color: var(--blue);
    z-index: 3;
}

.title_text{
    font-size: 2vw;
}

.join_popup{
    position: fixed;
    top: 50vh;
    left: 50vw;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 4;
}

#addScoutingTeam, #leaveButton, #joinCodeLabel{
    position: absolute;
    top: 1.1vw;
    left: 6.25vw
}

#leaveButton{
    left: 12.5vw
}

#joinCodeLabel{
    left: 18.75vw;
}

.logo {
    height: 7.3vw;
}

.logo_container{
    z-index: 5;
}

.dropdown_close {
    display: none;
}

.button_container{
    margin-top: 5vw;
    text-align: left;
}

.table_content{
    margin-top: 0.5vw;
    width: 100vw;
}

.main_buttons{
    border: 0.2vw solid var(--border);
    font-size: 1.5vw;
    margin: 1vw;
    border-radius: 1vw;
    margin-left: 5vw;
    width: 60vw;
    padding: 0.5vw;
    background-color:var(--mainbackground);
}

.main_buttons:hover{
    background-color: var(--hoverbackground);
}

.button_normal{
    border: 0.2vw solid var(--border);
    font-size: 1.5vw;
    border-radius: 0.5vw;
    width: 6vw;
    padding: 0.2vw;
    background-color:var(--mainbackground);
}

.button_left{
    border-radius: 0.5vw 0 0 0.5vw; 
    border-right: 0.1vw solid var(--border);
    border-radius: 0.5vw 0 0 0.5vw; 
    border-right: 0.1vw solid var(--border);
}

.button_right{
    border-radius: 0 0.5vw 0.5vw 0;
    border-left: 0.1vw solid var(--border);
    border-radius: 0 0.5vw 0.5vw 0;
    border-left: 0.1vw solid var(--border);
}

.button_center{
    border-radius: 0;
    border-left-width: 0.05vw;
    border-right-width: 0.05vw;
}

.radio_normal {
    display: none; /* Hide the radio button */
}

.radio_normal + label {
    display: inline-block;
    cursor: pointer;
    font-size: 1.5vw;
    border: 0.2vw solid var(--border);
    border-radius: 0.5vw;
    width: 6vw;
    padding: 0.2vw;
    background-color: var(--mainbackground);
}

/* Style the label when the radio button is checked */
.radio_normal:checked + label {
    background-color: var(--selectedbackground);
    border-color: var(--selectedborder);
    color: var(--selectedtext);
}

.radio_normal_l + label {
    border-radius: 0.5vw 0 0 0.5vw;
}

.radio_normal_r + label {
    border-radius: 0 0.5vw 0.5vw 0;
}

.radio_normal_c + label {
    border-left-width: 0.05vw;
    border-right-width: 0.05vw;
    border-radius: 0;
}

.input_field{
    border: 0.2vw solid var(--border);
    background-color:var(--mainbackground);
    border-radius: 0.5vw;
    font-size: 1.5vw;
    width: 8vw;
    padding: 0.2vw;
}

/* TODO come to this later */
.input_field::selection{
    background-color: var(--selectedbackground);
    border-color: var(--selectedborder);
    color: var(--selectedtext);
}

.text_area { 
    width: 100%;
    height: 21vw;
}

.input_field:hover{
    background-color: var(--hoverbackground);
}

.button_normal:hover{
    background-color: var(--hoverbackground);
}

.scouting_sheet {
    position: fixed;
    display: none;
    top: 11vw;
    z-index: 4;
}

.draw_panel{
    height: 13vw;
    width: 13vw;
    background-color: white;
    background-image: url(images/centerstageField.png);
    background-size: cover;
}

.draw_panel:hover{
    cursor:crosshair
}

.inner_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4vw;
}

.secondary_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.two_buttons{
    display: flex;
}

.auto_sheet, .tele_end_sheet, .extra_sheet, .sheet{
    position: relative;
    width: 45vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 0.2vw solid var(--border);
    padding: 0.7vw;
    border-radius: 1.5vw;
    margin-left: 1vw;
    left: 0.5vw;
}

.api_sheet{
    background-color: var(--mainbackground);
    position: absolute;
    top: -4.5vw;
    left: 37vw;
    width: 21vw;
    z-index: 4;
}

.info_panel{
    position: fixed;
    background-color: var(--blue);
    right: 0;
    width: 30vw;
    height: 200vh;
    text-align: center;
}

.inner_scroll {
    max-height: 100vh;
    overflow-y: auto;
}

/* .textbox_normal{
    border: 0.2vw solid var(--border);
    background: var(--buttonbackground);
    border-radius: 0.5vw;
    margin-left: 0.3vw;
    text-align: center;
} */

.info_text{
    width: 10;
    font-size: 1.5vw;
    width: 14vw;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
}

.info_auto, .info_tele_end, .info_extra {
    width: auto;
    margin-right: 1vw;
    margin-bottom: 1vw;
}

.work{
    left: 15vw;
    transform: translate(-50%);
    margin-left: 15vw;
}

.info_draw_panel{
    margin: 0.5vw;
}

.info_text2{
    font-size: 1.2vw;
    text-align: center;
}

.important_info_text{
    font-size: 2.5vw;
}

.bottom{
    width: 100%;
}

/* needs centering */
.bottom_text{
    text-align: left;
    height: 10vw;
    width: 100%;
    border: 0.2vw solid var(--border);
    background: var(--buttonbackground);
    border-radius: 0.5vw;
}

.transition_background{
    position: fixed;
    background-color: var(--blue);
    left: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.join_area{
    margin-top: 0.5vw;
}